:root {
    --primary-color: #0a66c2;
    --secondary-color: rgba(0, 0, 0, 0.6);
}

textarea {
    resize: none;
}
textarea:focus,
textarea:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.bg-gray {
    background-color: #f3f2ef;
}

.bg-blue-gray {
    background-color: rgb(238, 243, 248);
}

.btn {
    font-weight: 600;
    padding: 6px 16px;
    background-color: transparent;
    transition-duration: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:active,
.btn:focus,
.btn:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.btn:disabled {
    pointer-events: unset;
    cursor: not-allowed;
    opacity: 0.6;
}

.btn.btn-text {
    border: none;
}

.btn.btn-rounded {
    border: none;
    border-radius: 30px;
}

.btn.btn-lg {
    padding: 12px 24px;
}

.btn.btn-sm {
    padding: 2px 8px;
}

/* Primary button*/
.btn.btn-primary {
    color: var(--primary-color);
}

.btn.btn-primary:focus {
    background-color: transparent;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
    background-color: rgba(112,181,249,0.15);
}

.btn.btn-primary.btn-rounded {
    box-shadow: inset 0 0 0 1px var(--primary-color);
}

.btn.btn-primary.btn-rounded:hover {
    box-shadow: inset 0 0 0 2px var(--primary-color);
}

/* Secondary Button*/
.btn.btn-secondary {
    color: var(--secondary-color);
}

.btn.btn-secondary:disabled {
    background-color: transparent;
}

.btn.btn-secondary:focus:not(:disabled) {
    background-color: transparent;
}
.btn.btn-secondary:hover:not(:disabled),
.btn.btn-secondary:active:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn-secondary.btn-rounded {
    box-shadow: inset 0 0 0 1px var(--secondary-color);
}

.btn.btn-secondary.btn-rounded:hover:not(:disabled) {
    box-shadow: inset 0 0 0 2px var(--secondary-color);
}

.fs-7 {
    font-size: 0.9rem !important;
}

.fs-8 {
    font-size: 0.8rem !important;
}

.fs-9 {
    font-size: 0.7rem !important;
}


.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    padding: 0;
}

.card, .modal-content {
    border-radius: 0.5rem;
    overflow: hidden;
}

.hover-bg-gray,
.hover-color-primary {
    cursor: pointer;
    transition-duration: 200ms;
}

.hover-bg-gray:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.hover-color-primary:hover {
    color: var(--primary-color) !important;
}

.hover-underline:hover {
    text-decoration: underline;
}

.image-btn {
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(249, 249, 249, 0.9);
    transition-duration: 200ms;
}

.image-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.popover-arrow::before,
.popover-arrow::after {
    display: none !important;
}

.popover {
    max-width: 400px;
}

.react-icon {
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.react-icon:hover {
    transform: scale(1.2) translateY(-10px);
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.2,.8) translateY(0); }
    30%  { transform: scale(.8,1.2) translateY(-10px); }
    50%  { transform: scale(1,1)    translateY(0); }
    80%  { transform: scale(1.1,.8)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.react-icon.react-icon-1 {
    animation-delay: 100ms;
}
.react-icon.react-icon-2 {
    animation-delay: 180ms;
}
.react-icon.react-icon-3 {
    animation-delay: 260ms;
}
.react-icon.react-icon-4 {
    animation-delay: 340ms;
}
.react-icon.react-icon-5 {
    animation-delay: 420ms;
}
.react-icon.react-icon-6 {
    animation-delay: 500ms;
}